body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    padding: 20px;
}

/* For 4 columns on desktop screens */
@media (min-width: 1024px) {
    .gallery {
        grid-template-columns: repeat(4, 1fr);
    }
}

.gallery-item {
    width: 100%;
    height: auto;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s ease;
}

.lightbox img {
    max-width: 90%;
    max-height: 80%;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.lightbox img:active {
    transform: scale(1.2);
}


.lightbox.visible {
    visibility: visible;
    opacity: 1;
}

.nav-btn {
    position: absolute;
    top: 50%;
    background: rgba(255, 255, 255, 0.7);
    border: none;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    transform: translateY(-50%);
    z-index: 2000;
    border-radius: 50%;
    transition: background 0.3s ease;
}

.nav-btn:hover {
    background: rgba(255, 255, 255, 1);
}

.nav-btn.left {
    left: 20px;
}

.nav-btn.right {
    right: 20px;
}


.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background: rgba(255, 255, 255, 0.7);
    border: none;
    font-size: 30px;
    line-height: 30px;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 2000;
    transition: background 0.3s ease;
}

.close-btn:hover {
    background: rgba(255, 255, 255, 1);
}
